.holder {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 25px;
	grid-row-gap: 55px;
	margin-top: 100px;
}

.holded {
	background-color: red;
	text-align: center;
	width: 50%;
	justify-self: center;
	height: 100px;
	line-height: 100px;
}

.flex-holder {
	display: flex;
	justify-content: space-around;
	width: 100%;
	justify-items: left;
}
